body{
  background-color: #FB5A02;
  font-family: 'Montserrat';
  margin: 0;

}

h1{
  font-family: 'Montserrat Black';
  font-size: 3rem;
  color: #fff;
  line-height: 1.5;

}

h2{
  font-family: 'Montserrat Light';
  float: center;
  line-height: 1.5;
}

#Landing-page{
  padding: 3% 15% 0;
  color: #fff;
  background-color: #FB5A02;

}

.navbar{
  padding: 3% 15%;

}


.image{
  padding: 7% 7%;
  margin: 0;

}

.buttonn{
  margin: 5% 4% 0 0;
}

#Landing-page .row{
  padding-bottom: 0;
  margin: 0;
}
/* FOOTER-SECTION */

#Footer{
  background-color: #fff;
  margin: 0;
  padding: 0  0;
  text-align: center;
}

.footer{
  margin: 0;
  background-color: #fff;
    font-size: 1rem;
    text-align: center;
    padding: 15px
}

.copyright{
  padding: 3%;
  text-align: center;
  margin: 0;
}
